---
import Layout from "@/layouts/Layout.astro";
import Video from "@/components/sections/Video.astro";
import Intro from "@/components/sections/Intro.astro";
import Briefcase from "@/components/sections/Briefcase.astro";
---

<Layout title="" description="">
  <Video />
  <main>
    <Intro />
    <Briefcase />
  </main>
</Layout>